/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(90deg,palegoldenrod,salmon);
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamecontainer {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fb6f92;
    border-right: 4px solid #ffb3c6;
    border-bottom: 4px solid #ffb3c6;
}

.gamecontainer>a {

    text-decoration: none;
    padding: 20px;
    color: aliceblue;

}

.gamecontainer>a:hover {

    text-decoration: none;
    padding: 20px;
    color: blueviolet;


}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.detalhe {
    color: #ffe5ec;
    text-shadow: 1px 2px 2px  #ffb3c6;
    font-size: 84px;
    padding: 1em;
    transition: .5s;
}

.detalhe:hover {
    transform: translateX(-100px);
}